html {

    // A note on font sizes - According to MDN, font-size values in em are
    // relative to the parent element's font size, while values in rem are
    // relative to the font size of the root <html> element.
    //
    // @see: https://developer.mozilla.org/en-US/docs/Web/CSS/font-size
    //
    // Browser default font size is generally 16px. Font-size is set to 62.5% on
    // the body so that document base font size is 10px - this allows easy use of
    // rem units to specify desired font sizes (1.2rem = 12px, etc.), while still
    // allowing browsers to scale all fonts relatively.
    //
    // 1.2rem = 10px * 1.2 = 12px.

    font-size: 62.5%;


    // Universal Box Sizing with Inheritance
    // https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

    box-sizing: border-box;

    // Fix font weights
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	background-color: $color-bg;
    margin: 0;
    padding: 0;

    @include font-roboto-n4;
    font-size: $fontSize-14;
    line-height: $lineHeight-20;
    color: $color-text;
}

.wrapper {
    max-width: 100%;
    margin: 20px;

    @media (min-width: $screen-tablet-min) {
        max-width: 1200px;
        padding: 20px;
        margin: 80px auto;
    }
}
@media (min-width: $screen-tablet-min) {
    .main-margin {
        padding: 0px 40px;
    }
}