// -----------------------------------------------------------------------------
//  Media Queries
// -----------------------------------------------------------------------------

$screen-mobile-max:      767px;
$screen-tablet-min:      768px;
$screen-laptop-min:     1024px;
$screen-desktop-min:    1280px;
$screen-widescreen-min: 1920px;

$screen-mobile-max:     ($screen-tablet-min     - 1);
$screen-tablet-max:     ($screen-laptop-min     - 1);
$screen-laptop-max:     ($screen-desktop-min    - 1);
$screen-desktop-max:    ($screen-widescreen-min - 1);

// -----------------------------------------------------------------------------
//  Colors
// -----------------------------------------------------------------------------

$color-bg:           rgba(255, 255,  255, 1); // #FAFAFA
$color-text:         rgba(68,  68,   68, 1); // #444444
$color-blue:         rgba(24,  153,  255, 1);

$color-brand1: rgba(255, 153, 51, 1);
$color-brand2: rgba(25, 84, 123, 1);
$color-brand3: rgba(76, 161, 175, 1);
$color-brand4: rgba(196, 224, 229, 1);
$color-brand5: rgba(253, 253, 253, 1);

// -----------------------------------------------------------------------------
//  Font Scale
// -----------------------------------------------------------------------------
//
// There were so many font sizes in the client design that having a named font
// scale seemed overly difficult - instead, the scale is named numerically.
//

$fontSize-12: 1.2rem;
$fontSize-13: 1.3rem;
$fontSize-14: 1.4rem;
$fontSize-15: 1.5rem;
$fontSize-16: 1.6rem;
$fontSize-17: 1.7rem;
$fontSize-18: 1.8rem;
$fontSize-19: 1.9rem;
$fontSize-20: 2.0rem;
$fontSize-22: 2.2rem;
$fontSize-26: 2.6rem;
$fontSize-28: 2.8rem;
$fontSize-30: 3.0rem;
$fontSize-34: 3.4rem;
$fontSize-36: 3.6rem;
$fontSize-46: 4.6rem;

// -----------------------------------------------------------------------------
//  Letter Spacing Scale
// -----------------------------------------------------------------------------
//
// Values in Photoshop correspond to thousanths of an em, e.g., if the Photoshop
// value is 60, the CSS value is .06em.
//

$letterSpacing-0:     0em;

// -----------------------------------------------------------------------------
//  Line-Height Scale
// -----------------------------------------------------------------------------
//
// Unless specifying a height and line-height specifically for vertically
// centering text or other content, or when specifying line-height as "1em" for
// positioning purposes, one of these constants MUST be used to specify line-height.
//

$lineHeight-base:   2.4rem;
$lineHeight-loose:  2.8rem;
$lineHeight-looser: 3.0rem;

$lineHeight-14: 1.4rem;
$lineHeight-15: 1.5rem;
$lineHeight-16: 1.6rem;
$lineHeight-18: 1.8rem;
$lineHeight-20: 2.0rem;
$lineHeight-24: 2.4rem;
$lineHeight-26: 2.6rem;
$lineHeight-27: 2.7rem;
$lineHeight-28: 2.8rem;
$lineHeight-30: 3.0rem;
$lineHeight-36: 3.6rem;
$lineHeight-50: 5.0rem;

// -----------------------------------------------------------------------------
//  Aspect Ratios
// -----------------------------------------------------------------------------
//
// Used for scaling responsive video and images.

$ratio-hd:       56.25%; // 16:9
$ratio-postcard: 63.63%; // 5.5 x 3.5